
// rpc of origin chain: "Ethereum" testnet "Sepolia"
ORIGIN_RPC=https://ethereum-sepolia-rpc.publicnode.com

// chain id of origin chain: "Ethereum" testnet "Sepolia"
ORIGIN_CHAIN_ID=11155111

// rpc of destination chain: "Unichain" testnet "Unichain Sepolia"
DESTINATION_RPC=https://sepolia.unichain.org/

// chain id of destination chain: "Unichain" testnet "Unichain Sepolia"
DESTINATION_CHAIN_ID=1301

// rpc of "Reactive Network" testnet "Lasna"
REACTIVE_RPC=https://lasna-rpc.rnk.dev/

// chain id of "Reactive Network" testnet "Lasna"
REACTIVE_CHAIN_ID=5318007

// "Reactive Network" system contract address
// the contract that used it is `AutomationController.sol`
SYSTEM_CONTRACT_ADDR=0x0000000000000000000000000000000000fffFfF

// callback proxy address for destination contract
// in our case we used "Unichain Sepolia" address
// the contract that used it is `HedgeController.sol`
DESTINATION_CALLBACK_PROXY_ADDR=0x9299472A6399Fd1027ebF067571Eb3e3D7837FC4

// used the stored "private key" in my local computer for deploying script in foundry for `--account` parameter
ACC=sepolia